@import
url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@400;800&display=swap');

html {
    background-color: #0c0c33;
    text-align: justify;
    font: 400 20px "Saira Extra Condensed";
    color: #fff;
}

h1, h2 {
    margin: -10px;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: #fec;
}

h2 {
    font-size: 60px;
    text-align: center;
    color: #765;
}

p {
    line-height: 20px;
}

fieldset {
    max-width: 500px;
    border: dotted #60f;
    border-radius: 0 2em 50%;
}

fieldset:hover {
    border-style: solid;
}

input[type=radio] {
    accent-color: #80f;
    margin-top: 20px;
}

label {
    margin-left: 10px;
}

#page {
    overflow-x: hidden;
}

#content {
    margin: 40px;
}

#submit {
    height: 50px;
    width: 100px;
    color: #fff;
    border: 3px dotted #80f;
    border-radius: 2em;
    margin-top: 30px;
    background-color: #0c0c33;
    cursor: pointer;
    transition: ease-in-out 800ms;
}

#submit:hover {
    width: 150px;
    border-style: solid;
}